extends layout

block content
	.container
	h1 Welcome to MaidaMilkin.com!
	p We are happy you're here. The site is currently under construction.

	
	h3 Happy world breastfeeding week!
	p To the mom who breastfed one day or 10 years. I celebrate you! 
	p I've been breastfeeding continuously for 4 years, 7 months, and 1 day. But who's counting right?!
	p I've learned so much over these past 4 years and evolved into a new person/ mother as well. Breastfeeding is beautiful. But it's also laborious. It has it's glorious moments, it also has it's painstaking 3 in the morning battling mastitis you want to die moments. In these past few years I've learned to just roll with it all. Accepting grace as my friend and holding onto hope as I'm thick in the trenches of motherhood. It surrounds me and consumes me. And I love it. And I hate it. And I feel all the things all the time. 
	p When I think about world breastfeeding week this year I think about all the mamas, and what I would want to tell them. What would I want them to know? What wisdom have I gained from breastfeeding my children? I'm a tandem nursing mom, I'm a breastfeeding counselor. I'm a child birth educator. This is my thing, this is what I do. What would I want you to know?
	p I want you to know you are wonderful. You are enough for your baby. Whether you breastfed for one day, or 10 years. You have made the sacrifices, put in the time, gave the love, hugged the boo boos and scared away the monsters under the bed. This week let's focus on each mothers accomplishments. Are you a pumping mom? I applaud you. Are you a NICU mom? I stand with you and honor you. Are you a natural birther? I rejoice with you. Are you a c-section mom? I see you. I see the warrior you are bringing your baby into the world. Are you a tandem nursing mom? I give you a huge glass of water, a listening ear, and a hug. 
	p I celebrate you mothers, who all have their own stories. Their own births, their own journeys. We are all brought together by this, let's celebrate world breastfeeding week by celebrating each mom. The mom who wanted to breastfeed but it didn't work out, the mom who didn't meet her goals but gave it all she had. The mom who nursed 3 weeks and the mom who nursed 3 years. The single working moms, the stay at home moms. The baby led weaners, the extended nursers. All of us. I celebrate you beautiful mama. Happy world breastfeeding week!
	p How will you be celebrating WBW 2014? I would love to share your story this month! Email me at (maidamilkin@aol.com) and follow me on Instagram for a feature and give away!




