extends layout

block content
	//- .container
	div.navbar.nav-default(role="navigation")
		div.container-fluid
			div.navbar-header
				a.blog-nav-item Home
				a.blog-nav-item Blog
				a.blog-nav-item About Me
				a.blog-nav-item Bradley Method®
		//- button.btn.btn-danger(type="submit") Home
	div.container
		.row
		div.col-xs-1
		h1.blog-header.col-xs-7 Welcome to MaidaMilkin.com!
		div.col-xs-4
		.row
		p.col-xs-1
		p.col-xs-7 We are happy you're here. The site is currently under construction.
		p.col-xs-4
	div.container.above
		.row
		div.col-xs-1
		div.blog-main.col-xs-8
		
			div.blog-post
				for item in milkinblog
					h3.title=item.title
					p.blogbody=item.blog

		div.col-xs-2.sidebar-module-inset
			h3 Archives
			ul.month January 2014

			ul.month February 2014
			ul.month March 2014
			ul.month April 2014
			//- somhow render the month links with contents of that month timestamp every60 or so