extends layout

block content
	//- .container
	//- div.navbar.navbar-default.navbar-fixed-top(role="navigation")
	//- 	div.container-fluid.row
	//- 		div.navbar-header.col-xs-12
	//- 		div.navbar-collapse.collapse
	//- 			ul
	//- 				a.active.blog-nav-item.col-xs-4 Home
	//- 				a.blog-nav-item.col-xs-4 About Me
	//- 				a.blog-nav-item.col-xs-4 Bradley Method®
	//- 				//- a.dropdown dropdown
		//- button.btn.btn-danger(type="submit") Home
		//- -------------------------------------
	div.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
				.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
	
				.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='#') Home
					li
						a(href='#about') About Me
					li
						a(href='#bradley') Bradley Method®


	//- div.container.jumbotron.title-bar			
	div.container.above-title.title-bar
		.row
		div.col-xs-1
		h1.blog-header.col-xs-7 MaidaMilkin
		div.col-xs-4
		.row
		p.col-xs-1
		p.col-xs-7 We are happy you're here. The site is currently under construction.
		p.col-xs-4
	//- div.container.jumbotron
	div.container.above.blog-area
		.row
		div.col-xs-1
		div.blog-main.col-xs-8
		
			div.blog-post
				for item in milkinblog
					h3.title=item.title
					p.date=item.date
					p.blogbody=item.blog

		div.col-xs-2.sidebar-module-inset
			h3 Archives
			ul.month January 2014

			ul.month February 2014
			ul.month March 2014
			ul.month April 2014
			//- somhow render the month links with contents of that month timestamp every60 or so


