extends layout

block content
	.container
	div.navbar.nav-default.above(role="navigation")
		div.container-fluid.row
			div.navbar-header.col-xs-12
				a.blog-nav-item.col-xs-4 Home
				a.blog-nav-item.col-xs-4 About Me
				a.blog-nav-item.col-xs-4 Bradley Method®

	div.container.above
		h3 Right your blog here!
		.row
		div.col-xs-1
		div.col-xs-10
			form#blog-form.form-horizontal(action="/blogSubmission" method="post")
					.form-group
						label Title:
						input.form-control.title-entry(name="title" type="text" placeholder="Title of Blog Entry" rows=1) 
					.form-group
						label Date
						input.form-control.date-entry(name="date" type="text" placeholder="Automate this timestamp" rows=1) 
					.form-group
						label Blog entry:
						//- the placeholder does not appear on page load, but may many times appear if I enter text then delete it
						textarea.form-control.blog-entry(name="blog" type="text" placeholder="Write your blog in here!" rows=25) 
					//- put the auto date stamp entry here or above, figure out later
					.form-group
						//- input.btn.btn-primary(type="submit")
						button.btn.btn-danger.submit-button(type="submit") Submit!
		div.col-xs-1

	//- could reference imgs on instagram
	//- have video input??? like in the contest app?
		

