extends layout

block content
	div.navbar.nav-default(role="navigation")
		div.container-fluid
			div.navbar-header
				a.blog-nav-item Home
				a.blog-nav-item Blog
				a.blog-nav-item About Me
				a.blog-nav-item Bradley Method®


	div.container.above
		h3 Right your blog here!
		.row
		div.col-xs-2
		div.col-xs-8
			form#blog-form(action="/blogSubmission" method="post")
					.form-group
						input.form-control(name="title" type="text" placeholder="Title of Blog" rows=5) 
					.form-group
						textarea.form-control(name="blog" type="text" placeholder="Write your blog in here!" rows=10) 
					//- put the auto date stamp entry here or above, figure out later
					.form-group
						//- input.btn.btn-primary(type="submit")
						button.btn.btn-danger(type="submit") Milk Me!
		div.col-xs-2

	//- could reference imgs on instagram
	//- have video input??? like in the contest app?
		

